absl-py==2.1.0
accelerate==1.6.0
aiofiles==24.1.0
aiohttp==3.9.5
aiosignal==1.3.1
ale-py==0.8.1
alembic==1.14.1
altair==5.5.0
annotated-types==0.7.0
anyio==4.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
asyncer==0.0.8
attrs==23.2.0
autogen-agentchat==0.4.7
autogen-core==0.4.7
autogen-ext==0.4.7
autogenstudio==0.4.1.11
Automat==20.2.0
AutoROM==0.4.2
AutoROM.accept-rom-license==0.6.1
azure-ai-documentintelligence==1.0.0
azure-ai-inference==1.0.0b9
azure-core==1.32.0
azure-identity==1.20.0
Babel==2.15.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
bitarray==2.9.3
bitstring==4.2.3
black==25.1.0
bleach==6.1.0
blinker==1.9.0
box2d-py==2.3.5
branca==0.8.1
bs4==0.0.2
cachetools==5.5.1
certifi==2024.7.4
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
chex==0.1.88
click==8.1.7
cloud-init==24.4.1
cloudpickle==3.1.1
coacd==1.0.5
cobble==0.1.4
colorama==0.4.4
comm==0.2.2
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.2.1
cryptography==44.0.1
cycler==0.12.1
Cython==0.29.37
dataclasses-json==0.6.7
datasets==3.5.0
dbus-python==1.2.18
deap==1.4.2
debugpy==1.8.2
decorator==5.1.1
deepface==0.0.93
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.3.9
diskcache==5.6.3
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.7.0
docker==7.1.0
ecdsa==0.19.0
email_validator==2.2.0
esptool==4.7.0
et_xmlfile==2.0.0
etils==1.11.0
evaluate==0.4.3
exceptiongroup==1.2.2
executing==2.0.1
Farama-Notifications==0.0.4
fast-depends==2.4.12
fastapi==0.115.8
fastapi-cli==0.0.7
fasteners==0.19
fastjsonschema==2.20.0
filelock==3.15.4
fire==0.7.0
Flask==3.1.0
Flask-Cors==5.0.0
flatbuffers==24.3.25
flax==0.10.2
folium==0.19.4
fonttools==4.53.1
fqdn==1.5.1
freetype-py==2.5.1
frozenlist==1.4.1
fsspec==2024.6.1
gast==0.4.0
gdown==5.2.0
genesis-world==0.2.1
geopandas==1.0.1
gitdb==4.0.12
GitPython==3.1.44
glfw==2.8.0
google-auth==2.38.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.65.1
gunicorn==23.0.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.0.0
h11==0.14.0
h5py==3.11.0
html2text==2024.2.26
httpcore==1.0.5
httplib2==0.20.2
httptools==0.6.4
httpx==0.27.0
huggingface-hub==0.30.2
humanize==4.11.0
hyperlink==21.0.0
idna==3.7
imageio==2.35.1
imageio-ffmpeg==0.6.0
importlib_metadata==8.5.0
importlib_resources==6.5.2
incremental==21.3.0
intelhex==2.3.0
ipykernel==6.29.5
ipython==8.26.0
ipython_genutils==0.2.0
isodate==0.7.2
isoduration==20.11.0
itsdangerous==2.2.0
jaxlib==0.4.34
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.5
jiter==0.8.2
joblib==1.4.2
json5==0.9.25
jsonpatch==1.32
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keras==2.11.0
Keras-Preprocessing==1.1.2
keyring==23.5.0
kiwisolver==1.4.5
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
libclang==18.1.1
libigl==2.5.1
llvmlite==0.44.0
loguru==0.7.3
lxml==5.3.0
lz4==4.4.3
Mako==1.3.9
mammoth==1.9.0
Markdown==3.6
markdown-it-py==3.0.0
markdownify==1.0.0
markitdown==0.0.1a4
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapipe==0.10.21
mistune==3.0.2
mjpeg-streamer==2024.2.8
ml-dtypes==0.2.0
more-itertools==8.10.0
moviepy==2.1.2
mpmath==1.3.0
msal==1.31.1
msal-extensions==1.2.0
msgpack==1.1.0
mtcnn==1.0.0
mujoco==3.2.5
mujoco-py==2.1.2.14
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.26.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.3
nltk==3.9.1
notebook==7.2.1
notebook_shim==0.2.4
numba==0.61.0
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvcc-cu12==12.5.82
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.5.82
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
olefile==0.47
ollama==0.4.7
openai==1.64.0
opencv-contrib-python==4.11.0.86
opencv-python==4.10.0.84
OpenEXR==3.3.2
openpyxl==3.1.5
opentelemetry-api==1.30.0
opt-einsum==3.3.0
optax==0.2.4
optree==0.12.1
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
pathvalidate==3.2.3
pdfminer.six==20240706
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.2.2
playwright==1.50.0
plotly==6.0.0
pooch==1.8.2
portalocker==2.10.1
proglog==0.1.10
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==3.19.6
psutil==6.0.0
psycopg==3.2.5
ptyprocess==0.7.0
PuLP==3.0.2
pure_eval==0.2.3
puremagic==1.28
pyarrow==19.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pyautogen==0.7.5
pycairo==1.20.1
pycollada==0.8
pycparser==2.22
pycurl==7.44.1
pydantic==2.7.1
pydantic-settings==2.8.0
pydantic_core==2.18.2
pydeck==0.9.1
pydub==0.25.1
pyee==12.1.1
pygame==2.6.1
PyGEL3D==0.5.2
pyglet==2.1.2
pygltflib==1.16.0
Pygments==2.18.0
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pymeshlab==2023.12.post2
pyogrio==0.10.0
PyOpenGL==3.1.9
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyproj==3.7.0
pyrsistent==0.18.1
pyserial==3.5
PySocks==1.7.1
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.20
python-pptx==1.0.2
python-version==0.0.2
pytz==2024.1
pyvista==0.44.2
PyYAML==5.4.1
pyzmq==26.0.3
reedsolo==1.7.0
referencing==0.35.1
regex==2024.11.6
reportlab==4.2.5
requests==2.32.3
requests-oauthlib==2.0.0
retina-face==0.0.17
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rich-toolkit==0.13.2
rouge-score==0.1.2
rpds-py==0.19.1
rsa==4.9
safetensors==0.5.3
sb3_contrib==2.5.0
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.0
scooby==0.10.0
screeninfo==0.8.1
seaborn==0.13.2
SecretStorage==3.3.1
selenium==4.28.0
Send2Trash==1.8.3
sentencepiece==0.2.0
service-identity==18.1.0
shapely==2.0.7
shellingham==1.5.4
simplejson==3.19.3
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.1
soupsieve==2.5
SpeechRecognition==3.14.1
SQLAlchemy==2.0.38
sqlmodel==0.0.22
stable_baselines3==2.5.0
stack-data==0.6.3
starlette==0.45.3
streamlit==1.42.0
streamlit_folium==0.24.0
swig==4.3.0
sympy==1.13.1
systemd-python==234
taichi==1.7.3
tenacity==9.0.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
terminado==0.18.1
tetgen==0.6.4
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.5.0
tifffile==2024.8.30
tiktoken==0.9.0
tinycss2==1.3.0
tokenizers==0.21.1
toml==0.10.2
tomli==2.0.1
toolz==1.0.0
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.51.2
trio==0.28.0
trio-websocket==0.11.1
triton==3.1.0
Twisted==22.1.0
typer==0.15.1
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
uri-template==1.3.0
urllib3==2.2.2
uvicorn==0.34.0
uvloop==0.21.0
vtk==9.3.1
wadllib==1.3.6
watchdog==6.0.0
watchfiles==1.0.4
wcwidth==0.2.13
webcolors==24.6.0
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.2
Werkzeug==3.1.3
wordcloud==1.9.4
wrapt==1.14.1
wsproto==1.2.0
xgboost==2.1.3
xlrd==2.0.1
XlsxWriter==3.2.2
xxhash==3.5.0
xyzservices==2025.1.0
yarl==1.9.4
youtube-transcript-api==0.6.3
zipp==3.21.0
zope.interface==5.4.0
